/*<meta />*/

body
{
	color: #404040;
	font-family: Frutiger 45;
	font-size: 0.8em;
	line-height: 1.7em;
	margin-bottom: 17px;
	margin-left: 17px;
	margin-top: 0px;
	max-width: 100%;
}

Div.GlossaryPageDefinition
{
	
}

Div.GlossaryPageHeading
{
	
}

Div.GlossaryPageTerm
{
	
}

h1
{
	background-color: #3e3e3e;
	border-bottom-color: #BED230;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	color: #ffffff;
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 8px;
	margin-left: -17px;
	margin-right: -17px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 10px;
	width: 100%;
}

h2
{
	font-size: 1.2em;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3
{
	font-size: 1.1em;
	margin-bottom: 4px;
	margin-top: 16px;
}

h4
{
	
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
}

MadCap|glossaryProxy
{
	
}

MadCap|indexProxy
{
	
}

MadCap|tocProxy
{
	
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	text-decoration: underline;
	mc-format: '{paratext}';
}

MadCap|xref:hover
{
	color: #BED230;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

p.EmptyPageText
{
	
}

p.FrameFooterText
{
	
}

p.IndexHeading
{
	
}

p.ManualTitleLgeMain
{
	background-color: #ffffff;
	text-align: left;
	color: #000000;
	font-size: 28pt;
	margin-bottom: 8px;
	margin-top: 8px;
	line-height: 34pt;
	border: solid 1px;
	display: block;
	padding-top: 0px;
}

p.ManualTitle_1st_Line
{
	text-align: left;
	color: #000000;
	margin: 1.12em;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-right: 0em;
	margin-left: 0em;
	font-size: 26pt;
	line-height: 30pt;
	border: solid 1px;
	padding-bottom: 0px;
	padding-top: 0px;
}

p.ManualVersionNumber
{
	
}

@media print
{
	body
	{
		font-size: 8pt;
		line-height: 13px;
		margin: 8px;
	}

	Div.GlossaryPageDefinition
	{
		font-size: 9pt;
	}

	Div.GlossaryPageHeading
	{
		border-bottom-color: #bed230;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		color: #bed230;
		font-size: 11pt;
	}

	Div.GlossaryPageTerm
	{
		color: #bed230;
		font-size: 10pt;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	h1
	{
		border-bottom: none;
		font-family: 'Century Gothic';
		margin-bottom: 20px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		padding: 0;
		page-break-before: avoid;
		color: #000080;
		font-size: 24pt;
		line-height: 28pt;
		background-image: none;
		background-color: #ffffff;
	}

	h2
	{
		page-break-before: avoid;
		font-weight: bold;
		font-style: normal;
		font-size: 14pt;
		line-height: 16px;
		padding-bottom: 5px;
	}

	h3
	{
		mc-heading-level: 0;
		font-size: 13pt;
		font-weight: bold;
		font-family: 'Century Gothic';
	}

	h4
	{
		font-size: 9pt;
		font-weight: normal;
		mc-heading-level: 0;
	}

	MadCap|glossaryProxy
	{
		border-top: none;
	}

	MadCap|indexProxy
	{
		border-top: none;
	}

	MadCap|tocProxy
	{
		border-top: none;
		margin-right: 0.25in;
	}

	p
	{
		margin-bottom: 12px;
		margin-top: 12px;
		line-height: 26px;
		font-family: 'Century Gothic';
		font-size: 11pt;
	}

	p.EmptyPageText
	{
		font-size: 10pt;
		font-weight: bold;
	}

	p.FrameFooterText
	{
		font-family: 'Century Gothic';
		margin-top: 0px;
		margin-bottom: 0px;
		line-height: 16px;
		font-size: 14pt;
	}

	p.IndexHeading
	{
		font-size: 11pt;
		padding-top: 16px;
		text-align: left;
	}

	p.ManualTitleLgeMain
	{
		font-family: 'Century Gothic';
		text-align: left;
		font-size: 30pt;
		margin-bottom: 20pt;
		margin-left: 100px;
		border: none 0px;
		padding-top: 0px;
		line-height: 34pt;
	}

	p.ManualTitle_1st_Line
	{
		font-family: 'Century Gothic';
		background-color: #ffffff;
		text-align: left;
		mc-printer-page-margin-top: 0.00cm;
		border: none 0px;
		color: #0000cd;
		font-size: 48pt;
		line-height: 54px;
		font-weight: 600;
		margin-top: 15px;
		margin-bottom: 20pt;
	}

	p.ManualVersionNumber
	{
		color: #b3b3b3;
		font-family: 'Century Gothic';
		font-size: 12pt;
		margin-top: 12pt;
		text-align: center;
	}

	p.TOC1
	{
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-top: 12px;
	}

	p.TOC2
	{
		font-size: 8pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.10in;
		margin-top: 2px;
	}

	p.ChapterHeaders
	{
		color: #191970;
		font-size: 22pt;
		font-weight: normal;
		line-height: 34px;
		margin: 0;
		mc-heading-level: 1;
		mc-auto-number-format: '{chapnum}. ';
	}

	td
	{
		line-height: 20px;
		font-size: 12pt;
		padding-top: 0px;
	}

	p.NoteStyle01
	{
		font-style: italic;
		vertical-align: middle;
		border-bottom: solid 1px;
		border-color: #000000;
		border-left: solid 1px;
		border-right: solid 1px;
		border-radius: 5px;
		border-style: solid;
		border-top: solid 1px;
		font-family: Arial;
		background-color: #d6f572;
		text-align: left;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #000000;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #000000;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #000000;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
	}

	td.NOTE_Cell	/*Yellow: Used for NOTE cells*/
	{
		
	}

	h2.AA_h2_ChandPara
	{
		font-size: 22pt;
		font-weight: normal;
		font-family: Garamond;
		margin-bottom: 20px;
		line-height: 30px;
		margin-top: 40px;
		color: #000080;
	}

	h1.AA_Chpt_Heading
	{
		font-size: 16pt;
		font-weight: normal;
		font-style: normal;
		mc-auto-number-format: '{chapnum}. ';
		mc-auto-number-offset: 0;
		mc-auto-number-position: inside-head;
		border-bottom-width: 1px;
	}

	table.NOTE_Table
	{
		margin-top: 20px;
		padding: 15px;
		padding-top: 25px;
		margin-bottom: 1px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-width: 2px;
		border-bottom-style: ridge;
	}

	p.FigNum01
	{
		color: #000000;
		mc-auto-number-format: 'GJ: Fig {chapnum}.{n+} ';
	}

	td.NOTES_Cell	/*Green: Used for information cells*/
	{
		padding-bottom: 5px;
		padding-top: 5px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	p.ManualTitle_2nd_Line
	{
		font-family: 'Century Gothic';
		color: #000000;
		background-color: #ffffff;
		text-align: left;
		margin-left: 100px;
		margin-top: 2px;
		font-weight: 600;
		border: solid 0px;
		margin-bottom: 20pt;
		font-size: 30pt;
		line-height: 34px;
	}

	li
	{
		line-height: 22px;
		font-family: 'Century Gothic';
		font-size: 11pt;
	}

	th
	{
		font-size: 12pt;
		line-height: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	h1.AA_Chpt_Heading1
	{
		mc-auto-number-format: '{chapnum}. ';
		mc-auto-number-offset: 0;
		mc-auto-number-position: inside-head;
		border-bottom-width: 1px;
		line-height: 32pt;
		border-bottom: solid 1px;
		margin-bottom: 40px;
		font-size: 28pt;
		font-weight: 400;
		font-style: italic;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		color: #000080;
		background-color: #ffffff;
		border-radius: 0px;
		border-bottom-color: #000080;
	}

	h1.AA_h1_Appendix
	{
		color: #0000cd;
		line-height: 32pt;
		background-color: #ffffff;
		font-size: 28px;
		border-bottom-color: #0000cd;
		border-bottom-width: 1px;
		font-weight: 400;
		mc-auto-number-format: 'GK:Appendix {A+}: ';
	}

	h2.AA_h2_Appendix
	{
		color: #0000cd;
		font-size: 22pt;
		margin-bottom: 30px;
		font-weight: normal;
		line-height: 25pt;
		mc-auto-number-format: 'CK:Appendix {chapnum}.{n+}: ';
	}

	td.IntegrisPageNumber01
	{
		font-size: 14pt;
		line-height: 16px;
	}

	td.NOTE
	{
		border: solid 1px;
		border-bottom-width: 2px;
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 11pt;
		line-height: 20pt;
		padding-bottom: 6px;
		margin: 20px;
		padding-left: 10px;
		padding-top: 5px;
		border-radius: 10px;
		background-color: #faf29b;
	}

	p.ForcePageBreak
	{
		color: #ffffff;
		page-break-before: always;
	}

	table
	{
		border-collapse: collapse;
	}

	table.menu_table
	{
		frame-break-inside: avoid;
		page-break-inside: avoid;
	}

	tr.menu_table:nth-child(even)
	{
		color: #ff00ff;
		background-color: #e0e0e0;
	}

	MadCap|xref.XREF_Range
	{
		color: #000000;
		text-decoration: none;
		font-weight: 300;
	}

	h2.AA_Online_H2
	{
		
	}

	table.FigureTable
	{
		page-break-inside: avoid;
	}

	tr
	{
		vertical-align: top;
		padding-top: 5px;
	}
}

MadCap|xref.ListOfPageNumber
{
	mc-format: '(See {paranum})';
}

MadCap|xref.XREF_Range
{
	mc-format: '{quote}{paratext}{quote} {pageref}';
}

p.NoteStyle01	/*Style for Notes paragraphs*/
{
	
}

table.NOTE_Table
{
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: auto;
	margin-right: auto;
}

td.NOTES_Cell	/*Used for information cells*/
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e2f6be;
	border: solid 1px;
	border-radius: 6px;
	border-bottom: solid 2px;
}

h1.AA_Chpt_Heading
{
	border-bottom-color: #BED230;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 8px;
	margin-left: -17px;
	margin-right: -17px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 10px;
	width: 100%;
	mc-auto-number-format: '{chapnum}. ';
	background-color: #ffffff;
	font-family: Arial;
	color: #000000;
}

h2.AA_h2_ChandPara
{
	font-size: 1.2em;
	margin-bottom: 4px;
	margin-top: 20px;
	mc-auto-number-format: 'CH:{chapnum}.{n+}. ';
	page-break-after: avoid;
	color: #000080;
}

p.CautionStyle01
{
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	background-repeat: no-repeat;
	text-align: left;
	margin-left: 50px;
	background-image: url('../Images/Caution_Sign01.jpg');
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 170px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-position-x: 5px;
	line-height: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 0px;
	margin-right: 40px;
	padding-right: 10px;
	margin-bottom: 15px;
	background-position-y: 15px;
}

@media non-print
{
	p
	{
		background-image: url('../Images/Caution_Sign01.jpg');
		background-repeat: no-repeat;
		font-size: 11pt;
	}

	p.CautionStyle01
	{
		background-image: url('../Images/Caution_Sign01.jpg');
		background-position-x: left;
		background-position-y: center;
		font-size: 12pt;
		font-weight: bold;
		font-style: normal;
		line-height: 40px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 70px;
		color: #000000;
	}

	td
	{
		padding-bottom: 5px;
		padding-top: 5px;
	}

	h2.AA_h2_ChandPara
	{
		color: #000080;
		border-bottom: solid 1px;
		border-bottom-color: #000080;
		font-size: 2.5em;
		line-height: 2.50em;
		page-break-before: always;
	}

	td.NOTE
	{
		background-color: #ffe880;
		border: solid 1px;
		border-color: #000080;
		border-bottom: solid 2px;
		border-right: solid 2px;
		padding-bottom: 5px;
		padding-top: 5px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin: 20px;
		padding-left: 10px;
		font-size: 11pt;
		border-radius: 10px;
	}

	h1.AA_Chpt_Heading1
	{
		background-color: #000080;
		font-size: 2.5em;
		line-height: 2.7em;
		font-style: italic;
		color: #ffdead;
		font-weight: bold;
	}

	h1.AA_h1_Appendix
	{
		font-size: 1.50em;
		line-height: 1.6em;
		border-bottom-width: 0px;
		border-bottom-color: #ffffff;
	}

	h2
	{
		font-size: 1.40em;
	}

	h2.AA_Online_H2
	{
		background-color: #000080;
		font-family: 'Century Gothic';
		color: #fbeda4;
	}

	table
	{
		mc-caption-repeat: true;
	}

	table.menu_table
	{
		page-break-inside: avoid;
		frame-break-inside: avoid;
		widows: avoid;
	}

	h1
	{
		color: #ffff99;
		font-style: italic;
		background-color: #0000cd;
		border: solid 1px;
		border-bottom-width: 2px;
		border-color: #0000cd;
		border-bottom-color: #000080;
	}
}

p.CautionStyle02
{
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	background-repeat: no-repeat;
	text-align: left;
	margin-left: 50px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 0px;
	margin-right: 40px;
	padding-right: 10px;
	margin-bottom: 15px;
	background-position-y: 15px;
	background-image: url('../Images/Caution_Sign02.jpg');
	mc-auto-number-format: '{b}CAUTION: {/b}';
	padding-left: 50px;
	background-position-x: 10px;
}

MadCap|xref.RelLinkPageNumber
{
	mc-format: 'Page {page}';
}

p.FigNum01
{
	margin-bottom: 8px;
	margin-top: 8px;
	text-align: center;
	mc-auto-number-format: 'CN: Fig {chapnum}.{n+} ';
}

MadCap|xref.IndexPageNumber
{
	mc-format: 'See {quote}{para}{quote}, page {page}';
}

p.ManualTitle_2nd_Line
{
	font-size: 24pt;
	color: #000000;
	line-height: 28pt;
	border: solid 1px;
	padding-top: 0px;
	padding-bottom: 0px;
}

MadCap|xref.ConceptPageNumber
{
	mc-format: '{para}';
}

MadCap|xref.SeeFigNum
{
	mc-format: '(See {paranum})';
}

h1.AA_h1_Appendix
{
	border-bottom-style: solid;
	font-weight: normal;
	margin-bottom: 8px;
	margin-left: -17px;
	margin-right: -17px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 10px;
	width: 100%;
	color: #000080;
	font-size: 1.80em;
	border-bottom-width: 1px;
	border-bottom-color: #000080;
	background-color: #ffffff;
}

h2.AA_h2_Appendix
{
	font-size: 1.2em;
	margin-bottom: 4px;
	margin-top: 20px;
	mc-auto-number-format: 'CH:{chapnum}.{n+}. ';
	page-break-after: avoid;
}

td.IntegrisPageNumber01
{
	text-align: right;
}

table.NOTE	/*Table Style for Notes*/
{
	width: 100%;
	margin-left: 0;
	margin-right: auto;
}

td.NOTE	/*Cell Style for Notes*/
{
	border: solid 1px;
	border-bottom: solid 2px;
	border-color: #000080;
	border-radius: 10px;
	background-color: #ffe880;
	font-size: 11pt;
	margin: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

h1.AA_Chpt_Heading1
{
	background-color: #000080;
	color: #ffdead;
	font-size: 1.50em;
	font-style: italic;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-color: #000080;
	border-radius: 3px;
	margin-left: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 12px;
	margin-right: 10px;
	margin-top: 10px;
	margin: 0;
	line-height: 2em;
}

p.ForcePageBreak
{
	margin-bottom: 8px;
	margin-top: 8px;
}

table.menu_table	/*Used for Menu Descriptions*/
{
	page-break-inside: avoid;
	table-layout: fixed;
}

h2.AA_Online_H2
{
	color: #ffdead;
	background-color: #000080;
	margin-bottom: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 1.80em;
	font-style: italic;
}

table.FigureTable
{
	margin-left: auto;
	margin-right: auto;
}

table.MenuLocationTable
{
	width: 100%;
	border-spacing: 2px 10px;
	margin-left: auto;
	margin-right: auto;
	page-break-inside: avoid;
}

tr
{
	vertical-align: top;
}

p.TableNum01
{
	margin-bottom: 8px;
	margin-top: 8px;
	text-align: center;
	mc-auto-number-format: 'CT: Table {chapnum}.{n+} ';
}

MadCap|xref.Simple
{
	mc-format: '{paranum}';
}

