/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Image & LabelStyle01;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 3;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	vertical-align: top;
	text-align: center;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: center;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Image\000026LabelStyle01
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Image\000026LabelStyle01-Column-Column1
{
	
}

.TableStyle-Image\000026LabelStyle01-Head-Header1
{
	
}

.TableStyle-Image\000026LabelStyle01-HeadI-Column1-Header1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-HeadE-Column1-Header1
{
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Image\000026LabelStyle01-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-HeadF-Column1-Header1
{
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Image\000026LabelStyle01-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-HeadH-Column1-Header1
{
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Image\000026LabelStyle01-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-HeadD-Column1-Header1
{
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Image\000026LabelStyle01-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-HeadC-Column1-Header1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-HeadB-Column1-Header1
{
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Image\000026LabelStyle01-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-HeadA-Column1-Header1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-HeadG-Column1-Header1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-Foot-Footer1
{
	
}

.TableStyle-Image\000026LabelStyle01-FootI-Column1-Footer1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-FootE-Column1-Footer1
{
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Image\000026LabelStyle01-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-FootF-Column1-Footer1
{
	text-align: center;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Image\000026LabelStyle01-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-FootH-Column1-Footer1
{
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Image\000026LabelStyle01-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-FootD-Column1-Footer1
{
	text-align: center;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Image\000026LabelStyle01-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-FootC-Column1-Footer1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-FootB-Column1-Footer1
{
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Image\000026LabelStyle01-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-FootA-Column1-Footer1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-FootG-Column1-Footer1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-Body-Body1
{
	
}

.TableStyle-Image\000026LabelStyle01-BodyI-Column1-Body1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-BodyE-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Image\000026LabelStyle01-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-BodyF-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-BodyH-Column1-Body1
{
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Image\000026LabelStyle01-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-BodyD-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-BodyC-Column1-Body1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-BodyB-Column1-Body1
{
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Image\000026LabelStyle01-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-BodyA-Column1-Body1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Image\000026LabelStyle01-BodyG-Column1-Body1
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Image\000026LabelStyle01-BodyG-Column1-Body1 p
{
	
}


